@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

a {
	color: black !important;
    text-decoration: none !important;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-align: center;
    flex-grow: 1;
}

header .menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

main {
    padding: 20px 0;
}

main .container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    line-height: 1.6;
}


.pageTitle{
	text-align:center;
}

.centered-table {
	margin:0 auto;
}

.adminProductImg{
	width: 102px;
	height: 131px;
}

.adminProductDetailImg{
	width: 381px;
	height: 489px;
}

