@charset "UTF-8";
.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5열로 나누기 */
    /*gap: 20px;  상품 간 간격 */
    padding: 20px; /* 컨테이너 패딩 */
}

.product {
    background: #f9f9f9; /* 배경색 */
    border: 1px solid #ccc; /* 테두리 */
    /*padding: 10px;  패딩 */
}

.product img {
    width: 100%; /* 이미지 가로 폭 조정 */
    height: auto; /* 이미지 세로 폭 자동 조정 */
}

.product p {
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #333; /* 텍스트 색상 */
    font-size: 14px; /* 텍스트 크기 */
}

@media (max-width: 1000px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr); /* 1000px 이하에서는 2열로 변경 */
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: 1fr; /* 600px 이하에서는 1열로 변경 */
    }
}

/* 사이드바 스타일 */
.sidebar {
  position: relative; /* 포지셔닝 설정 */
  z-index: 2; /* 사이드바를 더 앞으로 오게 설정 */
}

/* 캐러셀 스타일 */
.carousel-inner {
  position: relative; /* 포지셔닝 설정 */
  z-index: 1; /* 캐러셀을 더 뒤로 오게 설정 */
}